# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
anipeak_bot.log
scraper_error.log

node_modules
dist
dist-ssr
*.local

# Assets (Large Files)
scraper/assets_repo/
videos/
temp_cover_*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
